<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<!-- Modulo Mantenimiento -->
	<bean id="banco" 	 		class="modules.mantenimiento.domain.Banco" 					scope="${spring.scope.bean}" />
	<bean id="recurso" 	 		class="modules.mantenimiento.domain.Recurso" 				scope="${spring.scope.bean}" />
	<bean id="puesto" 	 		class="modules.mantenimiento.domain.Puesto" 				scope="${spring.scope.bean}" />
	<bean id="feriadoGeneral"  	class="modules.mantenimiento.domain.FeriadoGeneral"			scope="${spring.scope.bean}" />
	<bean id="supervision"		class="modules.mantenimiento.domain.Supervision"			scope="${spring.scope.bean}" />
	<bean id="requisito"		class="modules.mantenimiento.domain.Requisito"				scope="${spring.scope.bean}" />
	<bean id="empresa"   		class="modules.mantenimiento.domain.Empresa"				scope="${spring.scope.bean}" />
	<bean id="negocio"   		class="modules.mantenimiento.domain.GiroNegocio"			scope="${spring.scope.bean}" />
	<bean id="colegio"   		class="modules.mantenimiento.domain.Colegio"			    scope="${spring.scope.bean}" />
	<bean id="especialidad"   	class="modules.mantenimiento.domain.Especialidad"			scope="${spring.scope.bean}" />
	<bean id="resolucion"   	class="modules.mantenimiento.domain.Resolucion" 			scope="${spring.scope.bean}" />
	<bean id="profession"   	class="modules.mantenimiento.domain.Profession" 			scope="${spring.scope.bean}" />
	<bean id="tipoAmbiente"   	class="modules.mantenimiento.domain.TipoAmbiente" 			scope="${spring.scope.bean}" />
</beans>