<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<aop:config>
		<aop:advisor id="managerTx" advice-ref="txAdvice"
			pointcut="execution(* *..service.*Service.*(..) ) || execution( * *..controller.*Controller.doSave*(..) ) || execution( * *..controller.*Controller.beforeSave*(..) ) || execution( * *..controller.*Controller.afterSave*(..) ) || execution( * *..controller.*Controller.validate*(..) ) || execution( * *..controller.*Controller.load*(..) ) )" />
<!--			pointcut="execution(* *..service.*Service.*(..) ) || execution( * *..controller.*Controller.beforeSave*(..) ) || execution( * *..controller.*Controller.doSave*(..) ) || execution( * *..controller.*Controller.load*(..) )" />-->
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="list*, get*,search*, look*,load*,find*" read-only="true" />
			<tx:method name="save*,*save, delete*,start*,change*,test*,execute*" propagation="SUPPORTS" read-only="false"/>
			<tx:method name="*" rollback-for="com.belogick.support.DaoException,com.belogick.support.ServiceException, Exception"/>
		</tx:attributes>
	</tx:advice>
	
	
	
</beans>