<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Intranet Docente-->
	<bean id="docenteSilabo" class="modules.intranet.controller.DocenteSilabo" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="intranetService"/>
	</bean>
	<bean id="docenteSilaboCriterio" class="modules.intranet.controller.DocenteSilaboCriterio" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="intranetService"/>
	</bean>
	<bean id="docenteSilaboContenido" class="modules.intranet.controller.DocenteSilaboContenido" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="intranetService"/>
	</bean>
	<bean id="docenteAsistencia" class="modules.intranet.controller.DocenteAsistencia" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="intranetService"/>
	</bean>
	
	
	<!-- ALUMNO -->
	<bean id="alumnoList" class="modules.intranet.controller.AlumnoList" scope="${spring.scope.dao}" parent="genericController">
	    <property name="bean" ref="metaInstitucional"/>	  
	    <property name="myService" 	ref="horarioService"/>			
	</bean>
	
	<bean id="alumnoNota" class="modules.intranet.controller.AlumnoNota" scope="${spring.scope.dao}" parent="genericController">
	    <property name="myService" 	ref="intranetService"/>
	    <property name="myServiceAdmision" 	ref="admisionService"/>			
	</bean>
	
	<bean id="alumnoAsistencia" class="modules.intranet.controller.AlumnoAsistencia" scope="${spring.scope.dao}" parent="genericController">
	    <property name="myService" 	ref="horarioService"/>			
	</bean>
	
	<!-- DOCENTE -->
	<bean id="docenteSilaboList" class="modules.intranet.controller.DocenteSilaboList" scope="${spring.scope.dao}" parent="genericController">
		<property name="bean" ref="metaInstitucional"/>	  
	    <property name="myService" 	ref="horarioService"/>		
	</bean>
	
	<bean id="docenteSilaboFecha" class="modules.intranet.controller.DocenteSilaboFecha" scope="${spring.scope.dao}" parent="genericController">
		<property name="bean" ref="seccion"/>
	    <property name="myService" 	ref="horarioService"/>	
	</bean>

	<bean id="docenteSilaboNota" class="modules.intranet.controller.DocenteSilaboNota" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="intranetService"/>
	    <property name="myServiceAdmision" 	ref="admisionService"/>
	</bean>
	
	<bean id="docenteSilaboCT" class="modules.intranet.controller.DocenteSilaboCT" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="intranetService"/>
	    <property name="myServiceAdmision" 	ref="admisionService"/>
	</bean>
	
	<bean id="docenteSilaboAsistenciaListFecha" class="modules.intranet.controller.DocenteSilaboAsistenciaListFecha" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="bean" ref="asistenciaAlumnoCalendario"/>
	    <property name="myService" 	ref="intranetService"/>
	    <property name="myServiceAdmision" 	ref="admisionService"/>
	</bean>
	
	<bean id="docenteSilaboAsistenciaListaAlumno" class="modules.intranet.controller.DocenteSilaboAsistenciaListaAlumno" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="bean" ref="asistenciaAlumnoCalendario"/>
	    <property name="myService" 	ref="intranetService"/>
	</bean>
	


	<!-- DOCENTE  OTROS-->
	<bean id="docenteSilaboCronograma" class="modules.intranet.controller.DocenteSilaboCronograma" scope="${spring.scope.dao}" parent="genericController">
		<property name="bean" ref="seccion"/>
	    <property name="myService" 	ref="horarioService"/>	
	</bean>
	
		
	
<!-- CETPRO -->
	<bean id="intranetCetpro" class="modules.intranet.controller.IntranetCetpro" scope="${spring.scope.dao}" parent="genericController">

	</bean>
	
	
</beans>