<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<!-- Módulos de Admision -->
	<bean id="proceso"  			class="modules.admision.domain.Proceso"  			scope="session" />
	<bean id="procesoSesion" 		class="modules.admision.domain.Proceso" 			scope="session" />
	<bean id="persona"  			class="modules.admision.domain.Persona"  			scope="session" />	
	<bean id="postulante"  			class="modules.admision.domain.Postulante" 			scope="session" />
	<bean id="retiro"  			    class="modules.admision.domain.Retiro" 			    scope="session" />
	<bean id="matricula"  			class="modules.admision.domain.Matricula" 			scope="session" />
	<bean id="matriculaRequisito"  	class="modules.admision.domain.MatriculaRequisito" 	scope="session" />
	<bean id="requisitos"  			class="modules.admision.domain.Requisitos" 			scope="session" />
	<bean id="interesado" 			class="modules.admision.domain.Interesado" 			scope="session"	/>
	<bean id="interes" 				class="modules.admision.domain.Interes" 			scope="session"	/>
</beans>
