<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Mi Institución -->
	<bean id="institucionAmbiente" class="modules.institucion.controller.InstitucionAmbiente" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="bean" ref="ambiente"/>	  
	</bean>
	
	<bean id="institucionConvenio" class="modules.institucion.controller.InstitucionConvenio" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="convenio"/>
	</bean>
	
	<bean id="institucionFeriado" class="modules.institucion.controller.InstitucionFeriado" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="bean" ref="feriado"/>	  
	</bean>
	
	<bean id="institucionGeneral" class="modules.institucion.controller.InstitucionGeneral" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="bean" ref="institucion"/>	  
	</bean>
	
	<bean id="institucionDetalle" class="modules.institucion.controller.InstitucionDetalle" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="bean" ref="institucion"/>	  
	</bean>
	
	<bean id="institucionDocumento" class="modules.institucion.controller.InstitucionDocumento" scope="${spring.scope.dao}" parent="genericController">
	   	<property name="bean" ref="documento"/>
		<property name="myService" 	ref="planificacionService"/>   	    
	</bean>
	
	<bean id="institucionOferta" class="modules.institucion.controller.InstitucionOferta" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="institucion"/>	  
	</bean>
	
	<bean id="institucionProceso" class="modules.institucion.controller.InstitucionProceso" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="cronograma"/>	  
	</bean>
	
	<bean id="institucionPersonal" class="modules.institucion.controller.InstitucionPersonal" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="personal"/>	  
	</bean>
	
	<bean id="institucionMetaIest" class="modules.institucion.controller.InstitucionMetaIest" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="metaInstitucional"/>	  
	</bean>
	
	<bean id="institucionMetaCetpro" class="modules.institucion.controller.InstitucionMetaCetpro" scope="${spring.scope.dao}" parent="genericController">
		<property name="myService" 	ref="seguridadService"/>	  
	    <property name="bean" 		ref="metaOcupacional"/>	  
	</bean>
	
	<bean id="institucionHistorialAcademico" class="modules.institucion.controller.InstitucionHistorialAcademico" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="historialAcademico"/>	  
	</bean>
	
	<bean id="institucionHistorialLaboral" class="modules.institucion.controller.InstitucionHistorialLaboral" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="historialLaboral"/>	  
	</bean>
	
	
	<bean id="institucionSolicitud" class="modules.institucion.controller.InstitucionSolicitud" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="solicitud"/>	  
	</bean>
	<bean id="consultaSolicitud" class="modules.institucion.controller.ConsultaSolicitud" scope="${spring.scope.dao}" parent="genericController">	  
	     <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="solicitud"/>	  
	</bean>
	
	<bean id="institucionUsuario" class="modules.institucion.controller.InstitucionUsuario" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="usuario"/>	  
	</bean>
	
	<bean id="institucionUnidad" class="modules.institucion.controller.InstitucionUnidad" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="marcoService"/>
	    <property name="bean" ref="ambienteUnidad"/>	  
	</bean>
		
</beans>