<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="cetproOferta" class="modules.cetpro.controller.CetproOferta" scope="session" parent="genericController">	  
	    <property name="bean" ref="ofertaEducativa"/>
	  	<property name="myService" 	ref="seguridadService"/>
	</bean>
	
	<bean id="cetproItinerario" class="modules.cetpro.controller.CetproItinerario" scope="session" parent="genericController">	  
	    <property name="bean" ref="itinerarioCetpro"/>
	  	<property name="myService" 	ref="seguridadService"/>
	</bean>
	
	<bean id="cetproContex" class="modules.cetpro.controller.CetproContex" scope="session" parent="genericController">	  
	    <property name="bean" ref="contexCetpro"/>
	  	<property name="myService" 	ref="seguridadService"/>
	</bean>
	
	<bean id="cetproCrono" class="modules.cetpro.controller.CetproCrono" scope="session" parent="genericController">	  
	    <property name="bean" ref="cronoCetpro"/>
	  	<property name="myService" 	ref="seguridadService"/>
	</bean>
	
	<bean id="cetproProg" class="modules.cetpro.controller.CetproProg" scope="session" parent="genericController">	  
	    <property name="bean" ref="progCetpro"/>
	  	<property name="myService" 	ref="seguridadService"/>
	</bean>
	
	<!-- Nuevos -->

	<bean id="cetproInteresado" class="modules.cetpro.controller.CetproInteresado" scope="session" parent="genericController">
		<property name="myService" 	ref="admisionService"/>	  
	    <property name="bean" 		ref="interesado"/>	  
	</bean>
	
	
	<bean id="cetproMatricula" class="modules.cetpro.controller.CetproMatriculaController" scope="session" parent="genericController">
		<property name="myService" 	ref="admisionService"/>
		<property name="bean"		ref="matriculaCetpro"/>		
	</bean>
	
	<bean id="cetproSilabo" class="modules.cetpro.controller.CetproSilabo" scope="session" parent="genericController">
		<property name="myService" 	ref="admisionService"/>	  
	    <property name="bean" 		ref="proceso"/>	  
	</bean>


	<!-- CETPRO DOCENTE -->
	
	<bean id="cetproDocenteList" class="modules.cetpro.controller.CetproDocenteList" scope="session" parent="genericController">
		<property name="myService" 	ref="admisionService"/>
		<property name="bean"		ref="cetproMatriculaFecha"/>	
	</bean>
	
	<bean id="cetproDocenteListFecha" class="modules.cetpro.controller.CetproDocenteListFecha" scope="session" parent="genericController">
		<property name="myService" 	ref="admisionService"/>	  
	    <property name="bean" 		ref="cetproMatriculaFecha"/>	  
	</bean>

	
	
	<!-- CETPRO ALUMNO -->




</beans>