<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Administración -->
	<bean id="adminInstitucion" class="modules.administracion.controller.AdminInstitucion" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="institucion"/>	  
	</bean>
	
	<bean id="adminConvenio" class="modules.administracion.controller.AdminConvenio" scope="${spring.scope.dao}" parent="genericController">	  
	   	<property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="convenio"/>	  
	</bean>
	
	<bean id="adminLocal" class="modules.administracion.controller.AdminLocal" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="local"/>	  
	</bean>
	
	<bean id="adminAmbiente" class="modules.administracion.controller.AdminAmbiente" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="ambiente"/>	  
	</bean>
	
	<bean id="adminOferta" class="modules.administracion.controller.AdminOferta" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="oferta"/>	  
	</bean>
	
	<bean id="adminPersonal" class="modules.administracion.controller.AdminPersonal" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="local"/>	  
	</bean>
	
	<bean id="adminHistorialAcademico" class="modules.administracion.controller.AdminHistorialAcademico" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="historialAcademico"/>	  
	</bean>
	
	<bean id="adminHistorialLaboral" class="modules.administracion.controller.AdminHistorialLaboral" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="historialLaboral"/>	  
	</bean>
	
	<bean id="adminUsuario" class="modules.administracion.controller.AdminUsuario" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="local"/>	  
	</bean>
	
	<bean id="adminProceso" class="modules.administracion.controller.AdminProceso" scope="${spring.scope.dao}" parent="genericController">	  
	    <property name="myService" 	ref="seguridadService"/>
	    <property name="bean" ref="cronograma"/>	  
	</bean>
	
	<bean id="solicitudController" class="modules.administracion.controller.SolicitudController" scope="${spring.scope.dao}" parent="genericController">
		<property name="myService" 	ref="seguridadService"/>	  
	    <property name="bean" ref="solicitud"/>	  
	</bean>
	
	<bean id="adminMetaCetpro" class="modules.administracion.controller.AdminMetaOcupacional" scope="${spring.scope.dao}" parent="genericController">
		<property name="myService" 	ref="seguridadService"/>	  
	    <property name="bean" 		ref="metaOcupacional"/>	  
	</bean>
	
	<bean id="adminMetaInstitucional" class="modules.administracion.controller.AdminMetaInstitucional" scope="${spring.scope.dao}" parent="genericController">
		<property name="myService" 	ref="seguridadService"/>	  
	    <property name="bean" 		ref="metaInstitucional"/>	  
	</bean>
	
	<bean id="adminMetaInstitucionalDetalle" class="modules.administracion.controller.AdminMetaInstitucionalDetalle" scope="${spring.scope.dao}" parent="genericController">
	    <property name="bean" 		ref="metaDetalle"/>
	    <property name="myService" 	ref="horarioService"/>	  
	</bean>
	
	
</beans>