<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="seguridadService" name="seguridadService"
		class="dataware.service.impl.SeguridadServiceImpl"
		parent="genericService" scope="${spring.scope.bean}">
		<property name="seguridadDao">
			<ref bean="seguridadDAO" />
		</property>
	</bean>
	
	<bean id="generalService" name="generalService"
		class="dataware.service.impl.GeneralServiceImpl"
		parent="seguridadService" scope="${spring.scope.bean}">
		<property name="generalDao">
			<ref bean="generalDAO" />
		</property>
	</bean>
	
	<bean id="institucionService" name="institucionService"
		class="dataware.service.impl.InstitucionServiceImpl"
		parent="generalService" scope="${spring.scope.bean}">
		<property name="institucionDao">
			<ref bean="institucionDAO" />
		</property>
	</bean>
	
	<bean id="marcoService" name="marcoService"
		class="dataware.service.impl.MarcoServiceImpl"
		parent="institucionService" scope="${spring.scope.bean}">
		<property name="marcoDao">
			<ref bean="marcoDAO" />
		</property>
	</bean>
	
	<bean id="horarioService" name="horarioService"
		class="dataware.service.impl.HorarioServiceImpl"
		parent="marcoService" scope="${spring.scope.bean}">
		<property name="horarioDao">
			<ref bean="horarioDAO" />
		</property>
	</bean>
	
	<bean id="intranetService" name="intranetService"
		class="dataware.service.impl.IntranetServiceImpl"
		parent="horarioService" scope="${spring.scope.bean}">
		<property name="intranetDao">
			<ref bean="intranetDAO" />
		</property>
	</bean>
	
	<bean id="admisionService" name="admisionService"
		class="dataware.service.impl.AdmisionServiceImpl"
		parent="horarioService" scope="${spring.scope.bean}">
		<property name="admisionDao">
			<ref bean="admisionDAO" />
		</property>
	</bean>
	
	<bean id="planificacionService" name="planificacionService"
		class="dataware.service.impl.PlanificacionServiceImpl"
		parent="genericService" scope="${spring.scope.bean}">
		<property name="planificacionDao">
			<ref bean="planificacionDAO" />
		</property>
	</bean>
</beans>