<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<!-- Seguridad y Accesos -->
	<bean id="aspecto" 			class="modules.evaluaciones.domain.Aspecto" 			scope="${spring.scope.bean}" />
	<bean id="pregunta" 		class="modules.evaluaciones.domain.Pregunta" 			scope="${spring.scope.bean}" />
	<bean id="indicadores" 		class="modules.evaluaciones.domain.Indicadores" 		scope="${spring.scope.bean}" />
	<bean id="escala" 			class="modules.evaluaciones.domain.Escala" 				scope="${spring.scope.bean}" />
	<bean id="instrumento" 		class="modules.evaluaciones.domain.Instrumento" 		scope="${spring.scope.bean}" />
	<bean id="universo" 		class="modules.evaluaciones.domain.Universo" 			scope="${spring.scope.bean}" />
	<bean id="rango" 			class="modules.evaluaciones.domain.Rango" 				scope="${spring.scope.bean}" />
	<bean id="escalaDetalle" 	class="modules.evaluaciones.domain.EscalaDetalle" 		scope="${spring.scope.bean}" />
	<bean id="balotario" 		class="modules.evaluaciones.domain.Balotario" 			scope="${spring.scope.bean}" />
	<bean id="encuesta" 		class="modules.evaluaciones.domain.Encuesta" 			scope="${spring.scope.bean}" />
	
	
</beans>