<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<!-- Seguridad y Accesos -->
	<bean id="usuario" 			class="modules.seguridad.domain.Usuario" 				scope="session" />
	<bean id="usuarioSesion" 	class="modules.seguridad.domain.Usuario" 				scope="session" />
	
	<bean id="menuSesion" 		class="modules.seguridad.domain.MenuAcceso" 			scope="session" />
	<bean id="menu" 			class="modules.seguridad.domain.Menu"	 				scope="session" />
	<bean id="perfil" 			class="modules.seguridad.domain.Perfil"	 				scope="session" />
	<bean id="variable"			class="modules.seguridad.domain.Variable"				scope="session" />
	<bean id="variableSesion"	class="modules.seguridad.domain.VariableAcceso"			scope="session" />
	<bean id="log" 				class="com.belogick.factory.util.domain.LogBase"		scope="session"/>
	<bean id="constante"		class="com.belogick.factory.util.constant.Constante"	scope="session" />
	
</beans>